<footer class="footer">
    <div class="footerContainer">
        <ul class="socialLinks">
            <li>
                <a rel="preconnect" href="https://www.linkedin.com/in/juanbamo" target="_blank">
                    <img class="socialIcon" ngSrc="../../assets/images/linkedinPixelLogo.png" width="40" height="40" alt="LinkedIn">
                </a>
            </li>
            <li>
                <a rel="preconnect" href="https://github.com/JuanBM0308" target="_blank">
                    <img class="socialIcon" ngSrc="../../assets/images/gitHubPixelLogo.png" width="40" height="40" alt="GitHub">
                </a>
            </li>
        </ul>
        <p class="footerText">© 2025 Juan Barbosa | All Rights Reserved</p>
    </div>
</footer>