<footer class="footer">
    <div class="footerContainer">
        <ul class="socialLinks">
            <li>
                <a href="https://www.linkedin.com/in/juanbamo" target="_blank">
                    <img class="socialIcon" src="../../assets/images/linkedinPixelLogo.png" alt="LinkedIn">
                </a>
            </li>
            <li>
                <a href="https://github.com/JuanBM0308" target="_blank">
                    <img class="socialIcon" src="../../assets/images/gitHubPixelLogo.png" alt="GitHub">
                </a>
            </li>
            <li>
                <a [href]="email">
                    <img class="socialIcon" src="../../assets/images/gmailPixelLogo.png" alt="Email">
                </a>
            </li>
        </ul>
        <p class="footerText">© 2025 Juan Barbosa | All Rights Reserved</p>
    </div>
</footer>