<main>
    <app-spaceship-animation></app-spaceship-animation>
    <div id="containerAbout">
        <div id="titleAbout">
            <h1>Welcome.</h1>
        </div>
        <section id="descriptionAbout">
            <img id="photoJuanba" class="rounded" ngSrc="../../assets/images/photoDevelopJB.jpeg" width="495" height="500" alt="photoJuanba">
            <div id="containerTextAbout">
                <div class="normalText">
                    <p>
                        I'm Juan Barbosa, a Java with Spring Developer based in Bogotá, Colombia.
                    </p>
                </div>
                <div class="normalText">
                    <p>
                        Since 2021, I've been creating and refining digital solutions, blending creativity and logic to
                        craft seamless and impactful experiences. I believe in constant evolution learning, improving,
                        and adapting, just like code itself.
                    </p>
                </div>
                <div class="normalText">
                    <p>
                        My goal goes beyond writing lines of code; I strive to build tools that bring value, solve
                        problems, and, in some way, contribute to humanity’s progress. My fascination with space reminds
                        me that there are no limits, only new horizons to explore.
                    </p>
                </div>
                <div class="normalText">
                    <a class="highlight hoverHighlighted" href="/contact-me">
                        <strong>Let’s build something amazing.</strong>
                    </a>
                </div>
            </div>
        </section>
        <section>
            <div id="containerSkill">
                <div id="containerContent" class="contentWrapper">
                    <div id="carouselExampleCaptions" class="carousel slide">
                        <div class="carousel-indicators">
                            <button class="slide-line active" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
                            <button class="slide-line" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button class="slide-line" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button class="slide-line" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="carousel-caption d-md-block">
                                    <div id="containerDesing">
                                        <h4 class="titleSlide">Desing</h4>
                                        <div class="content">
                                            <div class="contentLeft">
                                                <img class="imgCheck" ngSrc="../../assets/images/check.png" width="50" height="50" width="50" height="50" alt="imgCheck">
                                                <h4 class="titleContent">Usability</h4>
                                            </div>
                                            <div class="contentRigth">
                                                <p class="textContent">
                                                    Intuitive and easy-to-use design, minimizing the learning curve.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="contentLeft">
                                                <img class="imgCheck" ngSrc="../../assets/images/check.png" width="50" height="50" alt="imgCheck">
                                                <h4 class="titleContent">Accessibility</h4>
                                            </div>
                                            <div class="contentRigth">
                                                <p class="textContent">
                                                    It should be inclusive, allowing anyone to use it without problems.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="contentLeft">
                                                <img class="imgCheck" ngSrc="../../assets/images/check.png" width="50" height="50" alt="imgCheck">
                                                <h4 class="titleContent">Consistency</h4>
                                            </div>
                                            <div class="contentRigth">
                                                <p class="textContent">
                                                    Maintain a consistent visual and functional structure throughout the interface.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="contentLeft">
                                                <img class="imgCheck" ngSrc="../../assets/images/check.png" width="50" height="50" alt="imgCheck">
                                                <h4 class="titleContent">Clear feedback</h4>
                                            </div>
                                            <div class="contentRigth">
                                                <p class="textContent">
                                                    Provide visual and auditory responses to user actions (such as animations, 
                                                    success/error messages, etc.).
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption d-md-block">
                                    <h4 class="titleSlide" translate="no">Frontend</h4>
                                    <div id="containerFrontEnd">
                                        <div class="containerImagesFrontEnd">
                                            <a href="https://angular.dev/" target="_blank">
                                                <img class="imageFrontEnd" src="../../assets/images/iconAngular.png" alt="imageAngular">
                                            </a>
                                            <a href="https://getbootstrap.com/" target="_blank">
                                                <img class="imageFrontEnd" src="../../assets/images/iconBootstrap.png"  alt="imageBootstrap">
                                            </a>
                                        </div>
                                        <p class="textContent textContentFrontEnd">¡These are the technologies that make designs a reality!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption d-md-block">
                                    <h4 class="titleSlide" translate="no">Backend</h4>
                                    <div id="containerBackEnd">
                                        <div class="containerImagesBackEnd">
                                            <a href="https://www.oracle.com/co/java/" target="_blank">
                                                <img class="imageBackEnd" src="../../assets/images/iconJava.png" alt="imageJava">
                                            </a>
                                            <a href="https://spring.io/projects/spring-boot" target="_blank">
                                                <img class="imageBackEnd" src="../../assets/images/iconSpringBoot.png" alt="imageSpringBoot">
                                            </a>
                                        </div>
                                        <p class="textContent textContentBackEnd">¡These are the technologies that bring the server to life and manage the data.!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption d-md-block">
                                    <h4 class="titleSlide">Databases</h4>
                                    <div id="containerDataBases">
                                        <div class="containerImagesDataBases">
                                            <a href="https://www.mysql.com/" target="_blank">
                                                <img class="imageDataBases mysql" src="../../assets/images/logoMySQL.png" alt="imageMySQL">
                                            </a>
                                            <a href="https://www.microsoft.com/es-co/sql-server/sql-server-downloads" target="_blank">
                                                <img class="imageDataBases" src="../../assets/images/logoMicrosoftSQLServer.png" alt="imageMicrosoftSQLServer">
                                            </a>
                                            <a href="https://supabase.com/" target="_blank">
                                                <img class="imageDataBases" src="../../assets/images/logoSupabase.webp" alt="imageSupabase">
                                            </a>
                                            <a href="https://www.mongodb.com/" target="_blank">
                                                <!-- <img class="imageDataBases" ngSrc="../../assets/images/logoMongodb.png" width="90" height="50" alt="imageMongo"> -->
                                                <img class="imageDataBases" ngSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-plain-wordmark.svg" width="100" height="100" />
                                            </a>
                                        </div>
                                        <p class="textContent textContentFrontEnd">¡These are the technologies that desing and save data!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="slider-arrow">
                                <
                            </span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="slider-arrow">
                                >
                            </span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>                
            </div>
        </section>
    </div>
</main>