<main>
    <app-spaceship-animation></app-spaceship-animation>
    <div id="containerAbout">
        <div id="titleAbout">
            <h1>Welcome.</h1>
        </div>
        <section id="descriptionAbout">
            <img id="photoJuanba" class="rounded" src="../../assets/images/iconPixelArt.png" alt="photoJuanba">
            <div id="containerTextAbout">
                <div class="normalText">
                    I'm Juan Barbosa, a Jr. Full-Stack Developer based in Bogotá, Colombia.
                </div>
                <div class="normalText">
                    Since 2021, I've been creating and refining digital solutions, blending creativity and logic to craft seamless and impactful experiences. I believe in constant evolution learning, improving, and adapting, just like code itself.
                </div>
                <div class="normalText">
                    My goal goes beyond writing lines of code; I strive to build tools that bring value, solve problems, and, in some way, contribute to humanity’s progress. My fascination with space reminds me that there are no limits, only new horizons to explore.
                </div>
                <div class="normalText">
                    <a class="highlight hoverHighlighted" href="">
                        <strong>Let’s build something amazing.</strong>
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>