/**
* ! Estilos welcome
*/
#titleAbout {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

h1 {
    font-family: var(--fontNormalTitles);
    color: var(--colorTitles);
    font-size: 5em;
}

#descriptionAbout {
    margin: 2rem;
    display: flex;
    align-items: center;
    height: 100vh;
}

#photoJuanba {
    width: 33rem;
}

#containerTextAbout {
    margin: 2rem;
    gap: 1rem;
    display: flex;
    text-align: justify;
    flex-direction: column;
}

.normalText {
    font-family: var(--fontNormalText);
    color: var(--normalText);
    font-size: 1.5em;
}

.highlight {
    color: var(--highlightColor);
    text-decoration: none;
}

.hoverHighlighted::before {
    background-color: #eeeeee28;
}

.hoverHighlighted::after {
    background-color: #98d6f53a; 
}

.hoverHighlighted:hover::after {
    width: 100%;
    background-color: #98d6f53a; 
}

@media (max-width: 1250px) {
    #descriptionAbout {
        flex-direction: column;
    }

    .normalText {
        font-size: 1rem;
    }
}

@media (max-width: 700px) {
    #photoJuanba {
        width: 16.5rem;
    }

    h1 {
        font-size: 2.5em;
    }
}

/**
* ! Estilos slider
*/
.carousel-item {
    height: 33rem;
    background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0.288) 0%,
    hsla(0, 0%, 0%, 0.267) 0%,
    hsla(0, 0%, 0%, 0.39) 0%,
    hsl(120deg 1% 9%) 1%,
    hsl(120deg 1% 11%) 3%,
    hsl(120deg 1% 12%) 5%,
    hsl(120deg 1% 13%) 8%,
    hsl(120deg 1% 14%) 14%,
    hsl(120deg 1% 15%) 29%,
    hsl(120deg 1% 14%) 85%,
    hsl(120deg 1% 13%) 92%,
    hsl(120deg 1% 12%) 95%,
    hsl(120deg 1% 11%) 97%,
    hsl(120deg 1% 9%) 99%,
    hsla(120, 2%, 8%, 0.288) 100%,
    hsla(0, 0%, 5%, 0.288) 100%,
    hsla(0, 0%, 0%, 0.288) 100%
    );
}

/**
* * Estilos desing slider
*/
#containerDesing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.titleSlide {
    font-family: var(--fontNormalTitles);
    color: var(--colorSubTitles);
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 100;
}

.content {
    height: 5rem;
    display: flex;
}

.contentLeft {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.titleContent {
    font-family: var(--fontNormalTitles);
    color: var(--normalText);
}

.imgCheck {
    width: 3.3rem;
}

.contentRigth {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.textContent {
    font-family: var(--normalText);
    color: var(--normalText);
    font-size: large;
    text-align: left;
}

/**
* * Estilos frontend slider
*/
#containerFrontEnd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 7rem;
}

.containerImagesFrontEnd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageFrontEnd {
    width: 10rem;
}

.textContentFrontEnd {
    text-align: center;
    margin-top: 2em;
}

/**
* * Estilos backend slider
*/
#containerBackEnd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5.5rem;
}

.containerImagesBackEnd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageBackEnd {
    width: 10rem;
}

.textContentBackEnd {
    text-align: center;
    margin-top: 2em;
}

/**
* * Responsivo slider
*/
@media (max-width: 1162px) {
    .imageFrontEnd {
        width: 5rem;
    }

    .imageBackEnd {
        width: 5rem;
    }
}

@media (max-width: 1000px) {
    #containerDesing {
        margin-bottom: 2rem;
    }

    .content {
        height: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contentLeft {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .titleContent {
        color: var(--highlightColor);
    }

    .contentRigth {
        display: none;
    }

    .imgCheck {
        display: none;
    }
}

@media (max-width: 500px) {
    .carousel-control-prev {
        opacity: 0;
    }

    .carousel-control-next {
        opacity: 0;
    }

    .imageFrontEnd {
        width: 3.5rem;
    }

    .imageBackEnd {
        width: 3.5rem;
    }
}

/**
* ! Estilos extras
*/
#extrasAbout {
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
}

.subTittles {
    font-family: var(--fontNormalTitles);
    color: var(--colorTitles);
    font-size: 3em;
}

.sub {
    font-size: 2em;
}

#extrasAbout .normalText {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
