/**
* ! Estilos welcome
*/
#titleAbout {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

h1 {
    font-family: var(--fontNormalTitles);
    color: var(--colorTitles);
    font-size: 5em;
}

#descriptionAbout {
    margin: 2rem;
    display: flex;
    align-items: center;
    height: auto;
}

#photoJuanba {
    width: 33rem;
    height: 40rem;
    object-fit: cover;
}

#containerTextAbout {
    margin: 2rem;
    gap: 1rem;
    display: flex;
    text-align: justify;
    flex-direction: column;
}

.normalText {
    font-family: var(--fontNormalText);
    color: var(--normalText);
    font-size: 1.5em;
    text-align: center;
}

.startText {
    align-items: start;
}

.highlight {
    color: var(--highlightColor);
    text-decoration: none;
    white-space: nowrap;
}

.hoverHighlighted::before {
    background-color: #eeeeee28;
}

.hoverHighlighted::after {
    background-color: #98d6f53a; 
}

.hoverHighlighted:hover::after {
    width: 100%;
    background-color: #98d6f53a; 
}

@media (max-width: 1250px) {
    #descriptionAbout {
        flex-direction: column;
    }

    .normalText {
        font-size: 1rem;
    }
}

@media (max-width: 700px) {
    #photoJuanba {
        width: 16.5rem;
        height: 20rem;
    }

    h1 {
        font-size: 2.5em;
    }
}

/**
* ! Estilos slider
*/
.carousel-item {
    height: 33rem;
}

.slide-line {
    
    background-color:var(--highlightColor);
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
}

.slider-arrow {
    font-size: 3em;
    font-family: var(--fontTitlesPixel);
    color: var(--highlightColor);
}

/**
* * Estilos desing slider
*/
#containerDesing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.titleSlide {
    font-family: var(--fontNormalTitles);
    color: var(--colorSubTitles);
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 100;
}

.content {
    height: 5rem;
    display: flex;
}

.contentLeft {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.titleContent {
    font-family: var(--fontNormalTitles);
    color: var(--normalText);
}

.imgCheck {
    width: 3.3rem;
}

.contentRigth {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.textContent {
    font-family: var(--normalText);
    color: var(--normalText);
    font-size: large;
    text-align: left;
}

/**
* * Estilos frontend slider
*/
#containerFrontEnd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 7rem;
}

.containerImagesFrontEnd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageFrontEnd {
    width: 10rem;
}

.textContentFrontEnd {
    text-align: center;
    margin-top: 2em;
}

/**
* * Estilos backend slider
*/
#containerBackEnd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5.5rem;
}

.containerImagesBackEnd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageBackEnd {
    width: 10rem;
}

.textContentBackEnd {
    text-align: center;
    margin-top: 2em;
}

/**
* * Estilos data bases slider
*/
#containerDataBases {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5.5rem;
}

.containerImagesDataBases {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageDataBases {
    width: 10rem;
}

.mysql {
    width: 7.5rem;
}

/**
* * Responsivo slider
*/
@media (max-width: 1162px) {
    .imageFrontEnd {
        width: 5rem;
    }

    .imageBackEnd {
        width: 5rem;
    }

    .containerImagesDataBases {
        padding-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .imageDataBases {
        width: 6rem;
        margin: 1rem;
    }

    .mysql {
        width: 4rem;
    }
}

@media (max-width: 1000px) {
    #containerDesing {
        margin-bottom: 2rem;
    }

    .content {
        height: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contentLeft {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .contentRigth {
        display: none;
    }

    .imgCheck {
        display: none;
    }
}

@media (max-width: 500px) {
    .carousel-control-prev {
        opacity: 0;
    }

    .carousel-control-next {
        opacity: 0;
    }

    .imageFrontEnd {
        width: 3.5rem;
    }

    .imageBackEnd {
        width: 3.5rem;
    }
}

/**
* ! Estilos extras
*/
#extrasAbout {
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
}

.subTittles {
    font-family: var(--fontNormalTitles);
    color: var(--colorTitles);
    font-size: 3em;
}

.sub {
    font-size: 2em;
}

#extrasAbout .normalText {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}