<section>
    <div id="containerExperience">
        <div id="containerTitle">
            <h2 id="titleExperience">
                My Journey
            </h2>
        </div>
        <div class="containerText">
            <p class="normalText">
                Every line of code tells a story, and every professional experience has been a challenge that has helped me grow. 
                Here, you'll find the roles and responsibilities that have shaped my journey as a developer.
            </p>
        </div>
    </div>
</section>