<section id="sectionTv">
    <div id="containerTv">
        <section id="countermark">
            <p>Juanba's TV</p>
        </section>
        <section id="screenTv">
            <div id="titleMenu">
                <h5>Basic Menu</h5>
            </div>
            <div id="optionsMenu">
                <ul id="options">
                    <a href="">
                        <li>MiRuta: Traceability, mapping and routing of buses in cities 🏨 🚌.</li>
                    </a>
                    <a href="">
                        <li>Alura Course: Learning website with Alura Latam.</li>
                    </a>
                    <a href="">
                        <li>7 Days of Code: It's seven days of programming logic with JavaScript and Node JS (Currently day 3/7).</li>
                    </a>
                    <li>Coming soon...</li>
                </ul>
            </div>
        </section>
        <section id="brandTv">
            <p>SORNY</p>
        </section>
    </div>
</section>