/**
* ! Estilos projects --tv
*/
#sectionTv {
    margin: 1rem;
    margin-top: 3rem;
}

#containerTv {
    background-color: transparent;
    box-shadow: none;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#countermark {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    font-family: var(--fontTitlesPixel);
    font-size: large;
    font-weight: 700;
    color: var(--colorSubTitles);
}

#screenTv {
    width: 90%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.02);
    box-shadow: 
        inset rgba(50, 50, 93, 0.15) 0px 50px 40px -10px,  
        inset rgba(0, 0, 0, 0.7) 0px -10px 30px -12px,  
        rgba(0, 0, 0, 0.4) 0px 5px 10px;  
    border-radius: 1rem;
    filter: contrast(1.1) brightness(1.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    backdrop-filter: blur(5px);
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0) 50%);
}


#panelCli {
    background-color: var(--secodaryColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 70vh;
    width: 70%;
}

#titleMenu {
    width: 90%;
    border-top: 0;
    border-bottom: 2px #fff;
    border-left: 0;
    border-right: 0;
    border-style: dashed;
    margin-bottom: 0.2rem;
}

#titleMenu h5 {
    font-family: var(--fontOptionsTv);
    color: var(--colorSubTitles);
    width: 100%;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: x-large;
}

#optionsMenu {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 2px #fff;
    border-bottom: 2px #fff;
    border-left: 0;
    border-right: 0;
    border-style: dashed;
}

.option {
    text-decoration: none;
    padding: 1rem;
    font-family: var(--fontOptionsTv);
    color: var(--colorSubTitles);
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active:hover {
    background-color: var(--colorSubTitles);
    color: var(--secodaryColor);
}

.devicon-string {
    padding: .2rem;
    font-size: xx-large;
}

h6 {
    font-family: var(--fontOptionsTv);
    color: var(--colorSubTitles);
    margin: 1rem;
    width: 90%;
}

#brandTv {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 90%;
    font-family: var(--fontTitlesPixel);
    color: var(--colorSubTitles);
    font-size: large;
    font-weight: 700;
    letter-spacing: 0.4rem;
}

@media (max-width: 800px) {
    #panelCli {
        height: auto;
        width: auto;
    }

    #titleMenu h5 {
        font-size: large;
    }

    .option {
        font-size: small;
    }

    .devicon-string {
        font-size: medium;
    }

    h6 {
        font-size: small;
    }
}