<section id="sectionTv">
    <div id="containerTv">
        <section id="countermark">
            <p>Juanba's TV</p>
        </section>
        <section id="screenTv">
            <div id="panelCli">
                <div id="titleMenu">
                    <h5>Basic Menu</h5>
                </div>
                <div id="optionsMenu">
                    <a class="option active" href="https://github.com/JuanBM0308/DesplegarMiRuta" target="_blank">
                        ● MiRuta: Traceability, mapping and routing of buses in cities.
                    </a>
                    <a class="option active" href="https://github.com/JuanBM0308/7-Days-Of-Code" target="_blank">
                        ● 7 Days of Code: It's seven days of programming logic with JavaScript and Node JS.
                    </a>
                    <a class="option active" href="https://juanbm0308.github.io/Amigo-Secreto/" target="_blank">
                        ● Amigo Secreto: Small game to make a draw among your friends and find out which friend you should give a gift to.
                    </a>
                </div>
                <h6>Coming soon...</h6>
            </div>
        </section>
        <section id="brandTv">
            <p>SORNY</p>
        </section>
    </div>
</section>