/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --colorTitles: #ffff;
    --colorHover: #E9E8E8;
}

body {
    background-color: #E9E8E8;
}

/* Efectos puntero */