/**
* ! Estilos Home
* ? Estilos bienvenida
*/
section {
    margin: 2rem;
}

#containerWelcome {
    display: flex;
    justify-content: space-between;
}

#containerWelcome #subWelcome{
    align-content: flex-end;
}

#titleWelcome {
    display: flex;
}

#symbolWelcome {
    color: var(--colorTitles);
    font-size: 2rem;
    font-family: var(--fontTitlesPixel);
}

#textWelcome {
    color: var(--colorTitles);
    font-size: 2rem;
    font-family: var(--fontNormalTitles);
    margin-left: 0.8rem;
    margin-bottom: 0.5rem;
}

#subWelcome {
    color: var(--normalText);
}

@media (max-width: 977px) {
    #subWelcome {
        display: none;
    }
}

@media (max-width: 800px) {
    #symbolWelcome {
        display: none;
    }
}

.divisorLine {
    width: auto;
    background-color: var(--colorTitles);
    height: 1px;
}

#containerAbout {
    display: flex;
    justify-content: center;
}

#aboutProject p {
    margin: 1rem;
    color: var(--normalText);
    font-family: var(--fontNormalText);
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    text-align: center;
}

.material-symbols-outlined {
    font-size: 36px;
    color: var(--highlightColor);
}

#letsConnect {
    color: var(--normalText);
}

#letsConnect:hover {
    color: var(--colorTitles);
}

/**
* ? Noticias de software
*/
#softwareNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

#titleNews {
    color: var(--colorTitles);
    font-size: 1.5rem;
    font-family: var(--fontNormalTitles);
    margin-top: 3rem;
    color: var(--highlightColor);
    font-weight: 300;
    letter-spacing: 1px;
}

#newsContainer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 3rem;
    flex-wrap: wrap;
    width: 90%;
}

.newsCard {
    border-radius: 0.5rem;
    max-width: 20rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.newsCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
}

.newsLink {
    width: 20rem;
    height: 20rem;
    z-index: -1;
}

.newsCard:hover {
    transform: scale(1.05);
}

.newsTitle {
    color: var(--colorSubTitles);
    font-family: var(--fontNormalText);
    margin: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.newsImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.loveContainer {
    display: flex;
    margin: 0.5rem;
    position: absolute;
    bottom: 0;
}

.heartIcon {
    color: #fff;
    font-size: 1.5rem;
    width: auto;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

.liked {
    color: red !important;
}

.loveCounter {
    color: #fff;
    font-size: 1rem;
    margin-left: 0.2rem;
    font-family: var(--fontNormalText);
}

@media (max-width: 1500px) {
    #newsContainer {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1183px) {
    .newsCard {
        width: 30rem;
    }

    .newsLink {
        width: 30rem;
    }
}

@media (max-width: 1165px) {
    .newsCard {
        width: 100%;
    }

    .newsLink {
        width: 100%;
    }
}

/**
* ? Estilos boton renovar noticias
*/
.refresh-btn {
    font-family: var(--fontTitlesPixel);
    margin-top: 4rem;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
  
.refresh-btn:hover {
    background: var(--colorTitles);
    color: black;
}
  