/**
* ? Estilos navbar
*/
nav {
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

#myProfile  {
    width: 25%;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imageProfile {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    image-rendering: pixelated;
    border: 4px solid var(--secodaryColor);
    transition: transform 0.2s;
    user-select: none;
}

#imageProfile:hover {
    transform: scale(1.1);
}

#nameProfile {
    color: var(--highlightColor);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: var(--fontTitlesPixel);
    text-shadow: 3px 3px 0px black;
    float: right;
}

#containerLinks {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    height: 5.5rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    user-select: none;
}

#principalLinks {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family: var(--fontTitlesPixel);
    font-size: 1.2rem;
}

.linkNav {
    position: relative;
    padding: 0.5rem 0.9rem;
    text-decoration: none;
    color: var(--highlightColor);
}

.linkNav:hover {
    color: var(--colorTitles);
}

#hamburgerMenu {
    font-family: var(--fontTitlesPixel);
    display: none;
    align-content: center;
    font-size: 2rem;
    cursor: pointer;
    color: var(--highlightColor);
    text-align: center;
    user-select: none;
}

@media (max-width: 1218px) {
    #hamburgerMenu {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 3px 3px 0px black;
        z-index: 1;
    }

    #containerLinks {
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: absolute;
        height: 100vh;
        background-color: var(--secodaryColor);
    }

    #containerLinks.show-menu {
        display: flex;
    }

    #containerLinks ul {
        width: auto;
        text-align: center;
        flex-direction: column;
        gap: 1rem;
        font-size: xx-large;
    }
}

@media (min-width: 1219px) {
    #containerLinks {
        display: flex !important;
    }
}

@media (max-width: 900px) {
    #imageProfile {
        display: none;
    }
}

@media (max-width: 800px) {
    #myProfile {
        width: 100%;
    }

    #hamburgerMenu {
        width: 97%;
        height: 5.5rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .material-symbols-outlined {
        width: 100px;
    }


    #containerLinks {
        width: 100%;
    }

    #containerLinks ul {
        width: 100%;
    }
}

/**
* ? Estilos Main
*/
section {
    margin: 2rem;
}

#containerWelcome {
    display: flex;
    justify-content: space-between;
}

#containerWelcome #subWelcome{
    align-content: flex-end;
}

#titleWelcome {
    display: flex;
}

#symbolWelcome {
    color: var(--colorTitles);
    font-size: 2rem;
    font-family: var(--fontTitlesPixel);
}

#textWelcome {
    color: var(--colorTitles);
    font-size: 2rem;
    font-family: var(--fontNormalTitles);
    margin-left: 0.8rem;
    margin-bottom: 0.5rem;
}

#subWelcome {
    color: var(--normalText);
}

hr {
    color: var(--colorTitles);
    margin-top: 0.5rem;
}

@media (max-width: 977px) {
    #subWelcome {
        display: none;
    }
}

@media (max-width: 800px) {
    #symbolWelcome {
        display: none;
    }
}

/**
* ? Estilos descripcion del proyecto
*/
#containerAbout {
    display: flex;
    justify-content: center;
    height: auto;
}

#aboutProject p {
    margin: 1rem;
    color: var(--normalText);
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    text-align: center;
}

.material-symbols-outlined {
    font-size: 36px;
    color: var(--highlightColor);
}