<header>
    <nav>
        <div id="myProfile">
            <img id="imageProfile" src="../../assets/iconPixelArt.png" alt="imageProfile">
            <h3 id="nameProfile">Juan Barbosa</h3>
        </div>
        <div id="containerLinks">
            <ul id="principalLinks">
                <li class="linkNav"><a href="">Home</a></li>
                <li class="linkNav"><a href="">About-Me</a></li>
                <li class="linkNav"><a href="">Projects</a></li>
                <li class="linkNav"><a href="">Experience</a></li>
            </ul>
            
        </div>
    </nav>
</header>
