<main>
    <section id="welcomeSection">
        <div id="welcomeContainer">
            <div id="welcomeTitle">
                <h2 id="welcomeSymbol">
                    >
                </h2>
                <h2 id="welcomeText">
                    Welcome to Juanba's Blog
                </h2>
            </div>
        </div>
        <div class="sectionDivider"></div>
    </section>
    <section id="aboutSection">
        <div id="aboutContainer">
            <div class="personalData">
                <h1>Juan Sebastian Barbosa</h1>
                <h3>Software Developer Angular & Java</h3>
            </div>
            <p class="aboutText">
                I'm glad you're here! You'll find content based on me and my projects, including my collaborations across various industries and companies.
                Feel free to take inspiration from this portfolio and its projects. If I've caught your attention, don't hesitate to reach out.
            </p>
            <div class="connectLink">
                <a href="/contact-me" id="letsConnect">
                    <span class="hoverHighlighted">Let’s connect!</span>
                </a>
            </div>
        </div>
    </section>
</main>